.container {
  width: 900px;
  margin: auto;
  background-color: white;
}
body {
  font: 16px/28px arial, sans-serif;
  background-color: rgb(201, 201, 201);
  background-image: url(let-there-be-sun.webp);
}
.header {
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.header .judul {
  font-size: 40px;
  font-weight: bold;
}
.header ul li {
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
  color: rgba(184, 172, 174);
}
.header a {
  color: rgba(184, 172, 174);
}
.header a:hover {
  background-color: lightskyblue;
  color: white;
}
.hero {
  height: 320px;
  background-image: url(photo-hero.jpg);
  border-top: 5px solid rgb(194, 159, 117);
  background-size: cover;
  border-bottom: 5px solid rgb(184, 172, 174);
}
.main {
  padding: 20px;
}
.main h2 {
  font-size: 32px;
}
.main.penulis {
  font-size: 11px;
  margin-top: -30px;
  float: right;
}
.footer {
  background-color: #333;
}
.footer .copy {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 10px;
}
