.container {
  width: 960px;
  margin: auto;
  background-color: white;
}
body {
  font: 16px/28px arial, sans-serif;
  background-color: rgb(201, 201, 201);
  background-image: url(let-there-be-sun.webp);
}
.header {
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.header .judul {
  font-size: 40px;
  font-weight: bold;
}
.header ul li {
  display: inline-block;
  margin-top: 2px;
  margin-right: 5px;
  color: rgba(184, 172, 174);
}
.header a {
  color: rgba(184, 172, 174);
}
.header a:hover {
  background-color: lightskyblue;
  color: white;
}
.hero {
  height: 320px;
  background-image: url(photo-hero.jpg);
  border-top: 5px solid rgb(194, 159, 117);
  background-size: cover;
  border-bottom: 5px solid rgb(184, 172, 174);
}
.sidebar img {
  width: 130px;
  float: left;
  padding-right: 20px;
}
.sidebar {
  float: right;
  width: 300px;
  padding: 50px;
}
.sidebar p {
  box-sizing: border-box;
  font: 12px/18px arial;
}
.sidebar h3 {
  font-weight: bold;
  color: #545355;
}
.content .content {
  width: 860px;
  background: white;
  border-radius: 10px;
  padding: 30px 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.main {
  width: 550px;
  padding: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  float: left;
}
.main h2 {
  font-size: 32px;
}
.main.penulis {
  font-size: 11px;
  margin-top: -30px;
  float: right;
}
.footer {
  background-color: #333;
}
.footer .copy {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 10px;
}

/*clearfix */

.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
